<h1>Social Players!</h1>

<%= button_to "Favorite", users_add_favorite_path %>

<%= @socialplayer.name %> |
<%= @socialplayer.screenname %></br>
<%= @socialplayer.description %></br>

<% @tweets.each do |tweet| %>
  <ul>
    <li><%= tweet[:text] %></li>
  </ul>
    <% end %>





